<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.kelly.effect">

    <dist:module dist:instant="true" />

    <application
            android:name="com.kelly.effect.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.kelly.effect.javapoet.JPPersonalActivity" />
        <activity android:name="com.kelly.effect.javapoet.JPOrderActivity" />
        <activity android:name="com.kelly.effect.javapoet.JPMainActivity" />
        <activity android:name="com.kelly.effect.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name="com.kelly.effect.aidl.StudentManagerService"
                android:process=":remote" />
        <service
                android:name="com.kelly.effect.neteasy.playpage.service.MusicService"
                android:enabled="true"
                android:exported="true" />

        <activity android:name="com.kelly.effect.aidl.AIDLTestActivity" />
        <activity android:name="com.kelly.effect.IrregularActivity" />
        <activity android:name="com.kelly.effect.ExplosionActivity" />
        <activity android:name="com.kelly.effect.SplashAnimActivity" />
        <activity android:name="com.kelly.effect.BezierActivity" />
        <activity android:name="com.kelly.effect.neteasy.musiclist.MusicListActivity" />
        <activity android:name="com.kelly.effect.neteasy.playpage.MusicPlayActivity" />
        <activity android:name="com.kelly.effect.PathMeasureActivity" />
        <activity android:name="com.kelly.effect.widget.svg.SvgChinaMapActivity" />
        <activity android:name="com.kelly.effect.widget.vLayout.VLayoutActivity" />
        <activity android:name="com.kelly.effect.widget.treeAnimation.TreeAnimationActivity" />
        <activity android:name="com.kelly.effect.widget.colorfilter.ColorFilterActivity" />
        <activity android:name="com.kelly.effect.widget.pwdinput.PwdInputActivity" />
        <activity android:name="com.kelly.effect.aop.AopMainActivity" />
        <activity android:name="com.kelly.effect.aop.AopLoginActivity" />
        <activity android:name="com.kelly.effect.aop.AopCouponActivity" />
        <activity android:name=".architect.mvp.LoginActivity" />
        <activity android:name="com.kelly.effect.architect.mvp.login.LoginActivity" />
    </application>

</manifest>