<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.kelly.effect">

    <dist:module dist:instant="true" />

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".javapoet.JPMain2Activity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name=".aidl.StudentManagerService"
                android:process=":remote" />
        <service
                android:name=".neteasy.playpage.service.MusicService"
                android:enabled="true"
                android:exported="true" />

        <activity android:name=".aidl.AIDLTestActivity" />
        <activity android:name=".IrregularActivity" />
        <activity android:name=".ExplosionActivity" />
        <activity android:name=".SplashAnimActivity" />
        <activity android:name=".BezierActivity" />
        <activity android:name=".neteasy.musiclist.MusicListActivity" />
        <activity android:name=".neteasy.playpage.MusicPlayActivity" />
        <activity android:name=".PathMeasureActivity" />
        <activity android:name=".widget.svg.SvgChinaMapActivity" />
        <activity android:name=".widget.vLayout.VLayoutActivity" />
        <activity android:name=".widget.treeAnimation.TreeAnimationActivity" />
        <activity android:name=".widget.colorfilter.ColorFilterActivity" />
        <activity android:name=".widget.pwdinput.PwdInputActivity" />
        <activity android:name=".aop.AopMainActivity" />
        <activity android:name=".aop.AopLoginActivity" />
        <activity android:name=".aop.AopCouponActivity" />
        <activity android:name=".architect.mvp.LoginActivity" />
        <activity android:name=".architect.mvp.login.LoginActivity" />
    </application>

</manifest>